.footer{
  width: 100%;
  font-size: 12px;
  margin: 20px 0;
  .container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
  }
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}