.searchDate {
  flex: 1;
  background-color: #febb02;
  padding: 16px;
  border-radius: 4px;
  position: sticky;
  top: 20px;
  height: max-content;
  .iitle{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  .date {
    position: absolute;
    top: 60px;
    z-index: 2;
  }
  .itemInput {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    margin-bottom: 10px;
      label {
       font-size: 12px;
      }
     .searchInput{
       height: 30px;
       border: none;
       padding: 5px;
     }
     .selectInput{
       height: 30px;
       padding: 5px;
       background-color: white;
       display: flex;
       align-items: center;
       cursor: pointer;
     }
  }
  
  .button{
    margin-top: 20px;
    padding: 14px;
    background-color: #0071c2;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    &:hover{
      background-color: #0062a7;
    }
  }
}

